{% extends 'yaku.html' %}

{% block main %}
<div class="container">
  <h1>Next steps</h1>
  <ul style="font-size: 1.6em">
    <li>Refactor and retest both the Falcon API and Asynco code to use hash implementation</li>
    <li>Increase the size and variety of data sets</li>
    <li>Implement a Redis cluster variant for supporting Linked Data Fragments Server at Scale</li>
  </ul>
  <hr>
   <h1 style="text-align: center">ありがとう<br>Thank-you!</h1>
   <h1 style="text-align: center">Questions?</h1> 
  <hr>
  <br>
 {% include 'snippets/slide-nav.html' %} 
</div>
{% endblock %}
