{% extends 'yaku.html' %}

{% block main %}
<div class="container">
  <h1>Python Asynco &amp; Falcon</h1>
  <div class="row">
   <section class="seven columns">
     <h3>Comparing Two Server Approaches</h3>
     <p>Initially, started with a pure Python 3.4 implementation of a
      socket server using asynco 
   </section>
   <section class="four columns">
     <article style="border: 2px solid black; background-color: rgb(255, 100, 255)">
       <h2>Quick Explanation of Asynco</h2>
     </article>
   </section>
  </div>
{% include 'snippets/slide-nav.html' %}
</div>
{% endblock %}
