{% extends 'base.html' %}



{% block main %}
<style>
{# body { background-color: white; }#}
</style>
<div class="container">
 <h1>Resources</h1>
 <ul>
  <li><a href="http://aiohttp.readthedocs.org/en/stable/">aiohttp</a> documentation</li>
  <li><a href="https://aioredis.readthedocs.org/en/latest/">aioredis</a> documentation/li>
  <li><a href="https://aioredis.readthedocs.org">aioredis</a> documentation</li>
  <li><a href="http://techspot.zzzeek.org/2015/02/15/asynchronous-python-and-databases/">Asynchronous Python and Databases</a> Mike Bayer, 14 February 2015</li>
  <li><a href="http://falconframework.org/">Falcon Framework</a> WSGI Python framework for 
  building web APIs</li> 
  <li><a href="http://flask.pocoo.org/">Flask</a> web microframework used for this presentation</a></li>
  <li><a href="http://klen.github.io/py-frameworks-bench/">Python's Web Framework Benchmarks</a> Kirill Klenov, 27 August 2015</li>
  <li><a href="https://github.com/RDFLib/rdflib">RDFLib</a> - Python RDF library</li>
  <li><a href="http://redis.io">Redis</a> website and documentation. The official 
  Python <a href="https://github.com/andymccurdy/redis-py">redis</a> client</li>
  <li><a href="http://docs.python-requests.org/en/latest/">Requests</a> Python HTTP library</li>
  <li><a href="http://www.getskeleton.com">Skeleton</a> CSS responsive framework used for this presentation</li>
 </ul>
 {% include 'snippets/slide-nav.html' %}

</div>
{% endblock %}
