{% extends 'base.html' %}



{% block main %}
<style>
{# body { background-color: white; }#}
</style>
<div class="container">
 <h1>Resources</h1>
 <ul>
  <li><a href="http://aiohttp.readthedocs.org/en/stable/">aiohttp</a> documentation</li>
  <li><a href="https://aioredis.readthedocs.org">aioredis</a> documentation</li>
  <li><a href="http://techspot.zzzeek.org/2015/02/15/asynchronous-python-and-databases/">Asynchronous Python and Databases</a> Mike Bayer, 14 February 2015</li>
  <li><a href="http://klen.github.io/py-frameworks-bench/">Python's Web Framework Benchmarks</a> Kirill Klenov, 27 August 2015</li>
  <li><a href="http://redis.io">Redis</a> website and documentation</li>
 </ul>
 {% include 'snippets/slide-nav.html' %}

</div>
{% endblock %}
